.test-container {
  margin-top: 20rem;
  //display: grid;
  //gap: 20rem;
  //grid-template-columns: repeat(2, 1fr);
}
.pagination {
  justify-content: center;
  gap: 10px;
}

.pagination-btn {
  width: 40px;
  height: 40px;
  background: #0D0D0D;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 3px;
  font-size: 14px;
  color: white;
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.pagination-btn.active {
  background: var(--success-color)
}
