<link rel="stylesheet" href="about.component.scss">
<div class="container">
  <div class="header">
    <h1>Про сайт</h1>
    <p>Наш сайт для проходження тестів з різних мов програмування, розроблений на Angular, пропонує зручну та інтуїтивно
      зрозумілу користувацьку взаємодію. Він надає широкий спектр функцій для управління тестами і забезпечує зручність
      як адміністраторам, так і користувачам.</p>
  </div>
  <div class="flex">
    <div class="card">
      <div class="video">
        <video autoplay loop src="assets/video/admin.mp4"></video>
      </div>
      <div class="content">
        <h2>Адміністративна панель:</h2>
        <p *ngIf="!detailAdmin">Зручна адміністративна панель на Angular для повного контролю над тестами. Можна переглядати, редагувати,
          створювати та видаляти тести. Авторизація та безпечний доступ. Робота з HTTP-запитами. Зберігання тестів у базі
          даних Firebase. Захист роутів і валідація полів.</p>
        <ng-container *ngIf="detailAdmin">
          <p> - Наш сайт пропонує зручну адміністративну панель, що забезпечує повний контроль над
            управлінням тестами. За допомогою цієї панелі ви можете легко переглядати, редагувати, створювати та видаляти
            всі тести.</p>
          <p> - Адміністративна панель оснащена сервісом авторизації, який забезпечує безпечний доступ і дозволяє тільки
            авторизованим користувачам виконувати ці операції. Взаємодія з сервером здійснюється за допомогою
            HTTP-запитів, що забезпечує ефективну передачу даних.</p>
          <p> - Усі тести зберігаються в базі даних Firebase, забезпечуючи надійне зберігання та доступ до них. Захист
            роутів
            і налаштування валідації полів, включно з полем електронної пошти, пароля і полів для створення тестів,
            забезпечують безпеку і цілісність даних в адміністративній панелі.</p>
        </ng-container>
        <a (click)="detailAdmin = !detailAdmin">{{detailAdmin ? "приховати" : 'детальніше'}}</a>
      </div>
    </div>
    <div class="card">
      <div class="video">
        <video autoplay loop src="assets/video/user.mp4"></video>
      </div>
      <div class="content ">
        <h2>Користувацький інтерфейс:</h2>
        <p *ngIf="!detailUser">Інтуїтивно зрозумілий користувацький інтерфейс на Angular. Посторінковий вивід і пошук
          тестів. Підказки під час проходження тесту. Легка навігація між питаннями. Звіт про проходження з відсотком і
          зазначенням неправильних відповідей.</p>
        <ng-container *ngIf="detailUser">
          <p> - Наш сайт тестів, розроблений на Angular, забезпечує зручний та інтуїтивно зрозумілий користувацький
            інтерфейс.</p>
          <p>Взаємодію з тестами зручно організовано за допомогою посторінкового виведення і функції фільтрації пошуку.
            Це дає змогу користувачам швидко знаходити тести, що їх цікавлять, і забезпечує легку навігацію сайтом.</p>

          <p> - Під час проходження тесту користувачі отримують інформативні підказки, які допомагають їм визначити, на
            які
            запитання вони відповіли правильно або неправильно. Інтерфейс дає змогу користувачам легко переходити між
            запитаннями в процесі проходження тесту.</p>
          <p> - Після завершення тестування виводиться повідомлення зі звітністю, що включає відсоток пройденості, а також
            вказуються питання, на які користувач відповів неправильно.</p>
        </ng-container>
        <a (click)="detailUser = !detailUser">{{detailUser ? "приховати" : 'детальніше'}}</a>
      </div>
    </div>

  </div>
</div>


<!--    <p>Наш сайт тестів, розроблений на Angular, пропонує зручну та інтуїтивно зрозумілу користувацьку взаємодію. Він надає широкий спектр функцій для управління тестами і забезпечує зручність як адміністраторам, так і користувачам.</p>-->
<!--    <p>Адміністративна панель сайту має зручний інтерфейс і оснащена сервісом авторизації. У ній ви зможете переглядати, редагувати, створювати і видаляти всі доступні тести. Для обробки цих операцій використовуються HTTP-запити, що забезпечує ефективну комунікацію із сервером. Усі тести зберігаються в базі даних Firebase, забезпечуючи надійне зберігання даних.</p>-->
<!--    <p>Для підвищення безпеки та захисту даних було реалізовано захист роутів, що дає змогу контролювати доступ тільки авторизованим користувачам. Також було налаштовано валідацію полів, включно з полем електронної пошти та пароля, а також поля для створення тесту. Це гарантує коректність і цілісність введених даних.</p>-->
<!--    <p>Крім того, на сайті реалізовано функцію пошуку за тестами, що дає змогу користувачам швидко знаходити потрібні їм тести. Наявність посторінкового виведення і можливості фільтрації пошуку полегшує навігацію сайтом і покращує загальний досвід користувачів.</p>-->
<!--    <p>Сам сайт тестів також має низку зручних функцій. Під час проходження тесту користувачі отримують інформативні підказки, що допомагають зрозуміти, на які запитання вони відповіли правильно або неправильно. Користувачі можуть легко перемикатися між запитаннями в процесі проходження тесту. Після закінчення тестування виводиться повідомлення зі звітністю та відсотком пройденості, а також вказуються питання, на які користувач відповів неправильно.</p>-->
<!--    <p>Наш сайт тестів на Angular забезпечує комфортну взаємодію з адміністративною панеллю, зручність проходження тестів для користувачів і забезпечує високу функціональність і надійність.</p>-->








