h3 {
  margin-bottom: 15rem;
  font-weight: 500;
  font-size: 18rem;
  color: white;
}

.question {
  margin-bottom: 30rem;

}

input[type='checkbox'] {
  width: auto;
  margin-right: 15rem;
}

li {
  margin-bottom: 15rem;
}

ul li:last-child {
  margin-bottom: 30rem;
}
